[Unit]
Description=SteemDB.com Sync Service

[Service]
Environment=steemnode=golos.steem.ws
WorkingDirectory=/var/www/com_steemdb_golos/docker/sync
ExecStart=/usr/bin/python3 sync.py
Restart=always

[Install]
WantedBy=multi-user.target
