[Unit]
Description=SteemDB.com History Service

[Service]
Environment=steemnode=node.steem.ws
WorkingDirectory=/var/www/com_steemdb/docker/history
ExecStart=/usr/bin/python3 history.py
Restart=always

[Install]
WantedBy=multi-user.target
